

h1 {
  padding-left: 1.5em;
}

table.grid tr:nth-child(odd) {
  background-color: #F3F3F3;
}

table.grid tr:hover td {
  cursor: pointer;
  background-color: #EEE;
}

div.content svg {
  margin: 3em;
  border: 1px solid black;
}

table.grid {
  margin: 3em;
  border: 1px solid black;
}

table.grid th, table.grid td {
  padding: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

table.grid thead {
  border-bottom: 1px solid black;
}
